body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background: linear-gradient(180deg,#0b5fa5,#0f8f6e);
  color:#fff;
}

/* Splash */
#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1e88e5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    z-index: 1000;
    animation: fadeOut 2s forwards;
    animation-delay: 2s;
}

@keyframes fadeOut {
    to { opacity: 0; visibility: hidden; }
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: none;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    text-align: center;
    animation: slideUp 0.8s ease;
}

@keyframes slideUp {
    from { transform: translateY(40px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 12px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #1e88e5;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.home {
    text-align: center;
    color: white;
}
